[user]
	name = yamayo
	email = yamatoyo@gmail.com

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[core]
  editor = /usr/bin/vim
  excludesfile = /opt/boxen/config/git/gitignore

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[hub]
protocol = ssh
